@model NorthwestLabs.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Access_Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Access_Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Position)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Employee_ID }, new { @class = "btn" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
</p>
