@model IEnumerable<NorthwestLabs.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Access_Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Position)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Access_Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Position)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Employee_ID }, new { @class = "btn" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Employee_ID }, new { @class = "btn" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Employee_ID }, new { @class = "btn" })
        </td>
    </tr>
}

</table>
