@model IEnumerable<NorthwestLabs.Models.Test_Tube>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Concentration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assay_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LT_Number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Concentration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assay_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LT_Number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Test_Tube_ID }, new { @class = "btn" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Test_Tube_ID }, new { @class = "btn" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Test_Tube_ID }, new { @class = "btn" })
        </td>
    </tr>
}

</table>
