
@{
    ViewBag.Title = "Index";
}

<h2>Seattle Home</h2><br />

<img style="width:100%" src="~/Content/Images/testtubes1.png" /><br /><br />
<center>
    <table>
        <tr>
            <td>
                @Html.ActionLink("View Customers", "View_Customers", null, new { @class = "btn" })
            </td>
            <td>
                @Html.ActionLink("Add New Customer", "Add_Customer", null, new { @class = "btn" })
            </td>
            <td>
                @Html.ActionLink("Add Reports to an Order", "View_Orders", null, new { @class = "btn" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Create Invoices", "Show_Completed_Orders", null, new { @class = "btn" })
            </td>
            <td>
                @Html.ActionLink("Head of Billings Approve Invoices", "Show_Unapproved_Invoices", null, new { @class = "btn" })
            </td>
            <td>
                @Html.ActionLink("View Assays", "View_Assays", null, new { @class = "btn" })
            </td>
        </tr>
    </table>
</center>


<style>
    td {
        padding-right: 90px;
        padding-top: 20px
    }
</style>

