
@{
    ViewBag.Title = "Index";
}

<h2> Seattle Home</h2>

@Html.ActionLink("View Customers", "View_Customers", null, new { @class = "btn" })<br />
@Html.ActionLink("Add New Customer", "Add_Customer", null, new { @class = "btn" })<br />
@Html.ActionLink("Add Reports to an Order", "View_Orders", null, new { @class = "btn" })<br />
@Html.ActionLink("Create Invoices", "Show_Completed_Orders", null, new { @class = "btn" })<br />
@Html.ActionLink("Head of Billings Approve Invoices", "Show_Unapproved_Invoices", null, new { @class = "btn" })<br />
@Html.ActionLink("View Assays", "View_Assays", null, new { @class = "btn" })<br />