
@{
    ViewBag.Title = "Show_Unapproved_Invoices";
}

<h2>Invoices To Be Approved</h2>

@model IEnumerable<NorthwestLabs.Models.Invoice>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment_Due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Early_Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Early_Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Cost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment_Due)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Early_Payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Early_Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Cost)
            </td>
            <td>
                @Html.ActionLink("Review For Approval", "Approve_Invoice", new { id = item.Invoice_ID }, new { @class = "btn" })
            </td>
        </tr>
    }

</table>

