@{
    ViewBag.Title = "Home";
}
<h2>Welcome to Northwest Labs</h2>
<div>@Html.ActionLink("Customer Login", "Index", "Customers")<br /></div>
<div>@Html.ActionLink("Seattle Employee Login", "Index", "Seattle")<br /></div>
<div>@Html.ActionLink("Singapore Employee Login", "Index", "Singapore")<br /></div><br />
<div>@Html.ActionLink("About Us", "About", "Home")</div>
<div>@Html.ActionLink("Contact", "Contact", "Home")</div>


