
@{
    ViewBag.Title = "Singapore_Home";
}

<h2>Singapore Home</h2>

@Html.ActionLink("View Unreceived Orders", "View_New_Orders", "Singapore", null, new { @class = "btn" })<br />
@Html.ActionLink("Schedule a Test", "Schedule_Test", "Singapore", null, new { @class = "btn" })<br />
@Html.ActionLink("Add a price quote", "View_Orders_Price_Quote", "Singapore", null, new { @class = "btn" })<br />
@Html.ActionLink("Label Test Tubes", "Label_Tubes", "Singapore", null, new { @class = "btn" })<br />
@Html.ActionLink("Input Test Results", "Finish_Test", "Singapore", null, new { @class = "btn" })<br />
@Html.ActionLink("View Materials", "View_Materials", "Singapore", null, new { @class = "btn" })<br />



